*,::after,::before{box-sizing:border-box}:root{-moz-tab-size:4;tab-size:4}html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}body{font-family:system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'}hr{height:0;color:inherit}abbr[title]{text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,pre,samp{font-family:ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}table{text-indent:0;border-color:inherit}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}::-moz-focus-inner{border-style:none;padding:0}:-moz-focusring{outline:1px dotted ButtonText}:-moz-ui-invalid{box-shadow:none}legend{padding:0}progress{vertical-align:baseline}::-webkit-inner-spin-button,::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}blockquote,dl,dd,h1,h2,h3,h4,h5,h6,hr,figure,p,pre{margin:0}em{font-style: normal}

body {
  font-family: 'Inter', sans-serif;
}

#hero {
  margin: 2rem auto 0 auto;
  padding: 0 1.5rem;
  max-width: 80rem;
}

#hero div > em {
  font-size: .875rem;
  line-height: 1.25rem;
  letter-spacing: .025em;
  font-weight: 600;
  text-transform: uppercase;

  color: #1F2937; /* gray-800 */
}

#hero h1 {
  font-size: 3.75rem;
  line-height: 3.75rem;
  letter-spacing: -1.5px;
  font-weight: 800;
}

#hero h1 > em {
  text-decoration: underline 2px;
}

#hero p#form-intro {
  margin-top: 2rem;
  line-height: 1.5rem;
  font-weight: 600;
}

#hero p#form-intro em {
  background-color: #FDE047; /* yellow-300 */
  padding: 0 2px;
}

#hero p#description {
  margin-top: 1.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: .75rem;
}

#hero form {
  margin-top: 1rem;
}

#hero form label {
  display: block;
  font-size: .75rem;
  line-height: 1rem;
  letter-spacing: .025em;
  font-weight: 600;
  text-transform: uppercase;
}

#hero form input[type="email"], #hero form input[type="submit"] {
  padding: .75rem;
  line-height: 1.5rem;
  border-radius: 0.375rem;
  width: 100%;
}

#hero form input[type="email"] {
  border: 1px solid #e5e7eb; /* gray-200 */
}

#hero form input[type="submit"] {
  margin-top: 1.25rem;
  cursor: pointer;
  border: none;
  color: white;
  background-color: #1F2937; /* gray-800 */
}

#hero form input[type="submit"]:hover {
  background-color: #111827; /* gray-900 */
}

#hero p#be-first {
  margin-top: .75rem;
  font-size: .875rem;
  line-height: 1.25rem;
  color: #374151; /* gray-700 */
}

@media (min-width: 640px) {
  #hero {
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
  }

  #hero svg {
    width: 100%;
  }

  #hero form .input-group {
    display: flex;
  }

  #hero form input[type="email"] {
    width: 20rem;
  }

  #hero form input[type="submit"] {
    margin-top: 0;
    width: 8rem;
    margin-left: .75rem;
  }
}
